<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.dummyfilmapp.favourite">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_activity_favourite">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup">
        <activity
            android:name=".ui.FavouriteActivity"
            android:parentActivityName="com.dicoding.dummyfilmapp.ui.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="favourite"
                    android:scheme="dummyfilmapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>